.cusinput
{
    color:red;
    padding:10px;
}

.abc{
    color:red;
    text-transform: uppercase;
}
.xyz
{
    color:blue;
}

.first
{
    background:linear-gradient(red,green,blue);
}
.second
{
    font-size:100px;
}
.third
{
    padding:50px;
}
.a
{
    font-weight: bold;
    border:5px solid red;
}
.b
{
    text-shadow: 0 0 5px black;
    color:white;
}
