<!-- <section >
  <div>
        <h1>{{record.id}}</h1>
        <h1>{{record.title}}</h1>
        <h1>{{record.body}}</h1>
        <h1>{{record.userId}}</h1>
  </div>
  </section> -->


  <div class="container border mt-5">
      <div class="row">
            <div class="col-12">
                  <button class="btn btn-sm btn-primary" [routerLink]="['/dashboard']">back</button>
            </div>
            <div class="col-12">
                  <div class="h-100 text-bg-dark rounded-3" style="margin-top:75px;margin-left:20px">
                        <h1>{{record.id}}</h1>
                        <h2>{{record.title}}</h2>
                        <p>{{record.body}}</p>
                        <button class="btn btn-outline-light" type="button">Example button {{record.userId}}</button>
                      </div>
            </div>
      </div>
  </div>