<p>ladingpage works! {{a}}</p>
<p>ladingpage works! {{a+20}}</p>
<p>ladingpage works! {{a>20}}</p>
<p>ladingpage works! {{a+500}}</p>
<p>ladingpage  <i class="fa fa-car"></i>  works! {{myarr[2]}}</p>
<form>
<input type={{mytype}} required>
<input type="button" value="submit" (click)="myfun()">
<h1 (click)=" myfun1()">heading one</h1>
<h2 (click)="myret()">tsdfsdfsdfsdf</h2>
<h4 *ngIf="y">skdhfjshdfj hsdjf hjsdh fjksdhfjksd</h4>
</form>

<ul *ngIf="y">
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home</li>
    <li>Home <i class="fa fa-car"></i> </li>


</ul>