<section >
  <ul class="nav p-3 bg-primary text-white">
    <li class="nav-item">
      <a class="nav-link active text-white" [routerLink]="['/dashboard/graph']">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white">Disabled</a>
    </li>
  </ul>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>title</th>
                  <th>bodytext</th>
                  <th>action</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of myarry">
                  <td>{{a.id}}</td>
                  <td>{{a.title}}</td>
                  <td>{{a.body}}</td>
                  <td [style]="'width:250px;text-align:center'">
                    <button type="button" [ngClass]="'btn btn-primary btn-sm me-2'" [routerLink]="['dashboard/',a.id]">view</button>
                    <button type="button" [ngClass]="'btn btn-warning btn-sm me-2'">Edit</button>
                    <button type="button" [ngClass]="'btn btn-danger btn-sm'" (click)="mydeleterecord(a.id)">Del</button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
    </div>

</section>