<form [formGroup]="myform" (ngSubmit)="loginsubmit()">
    <div class="container">
        <div class="row border p-4">
            <div class="col-6">
                <label>Username</label>
                <input
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                />
                <section *ngIf=" submitted && f.username.errors" class="errormsg">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">
                      Username must be at least 5 characters
                    </div>
                    <div *ngIf="f.username.errors.maxlength">
                      Username must not exceed 10 characters
                    </div>
                </section>
            </div>
            <div class="col-6">
                <label>email</label>
                <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <section *ngIf=" submitted && f.email.errors" class="errormsg">
                    <div *ngIf="f.email.errors.required">email is required</div>
                </section>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
    
        </div>
    </div>
</form>