<form [formGroup]="myform">
<div class="container p-5 border bg-light">
    <div class="row shadow p-3 ">
        <div class="col-md-6">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" formControlName="fullname">
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email id</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="address">
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Phone no</label>
            <input type="text" class="form-control" formControlName="phone">
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Select Question</label>
            <select class="form-control" formControlName="option">
                <option>what is childhood name</option>
                <option>what is childhood name</option>
                <option>what is childhood name</option>
                <option>what is childhood name</option>
                <option>what is childhood name</option>
            </select>
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-md-12 text-center p-3">
            
            <button type ="button" class="btn btn-success" (click)="mydata()">Registor</button>
           
        </div>
        
    </div>
</div>
</form>
<div>
   {{fullname}}
</div>